.rewards{
  background-color: #010B2E;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

p{
  /* position: absolute; */
/*  width: 782px;
  height: 87px;
  left: 260px;
  top: 200px;*/

  font-family: 'Satisfy', cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 22px;

  color: #BCA6A6;
  background-color: #010B2E;

}

.newsesh{
  /* position: absolute; */
 /* width: 363px;*/
  height: 67px;
  align-self: center;
  /* left: 450px;
  top: 350px; */

  background:#454B62;

border: 7px solid #F2F39B;
box-sizing: border-box;
box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 24px;

font-family: 'Satisfy', cursive;
font-style: normal;
font-weight: normal;
font-size: 40px;
line-height: 35px;
letter-spacing: 0.05em;

color: #FFFFFF;
}

h1{
  text-align: center;
  font-family: 'Satisfy', cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 96px;

  color: #F2F39B;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.Peppapics{
  width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;

}
