button{
  width: 100px;
    height: 50px;
    background: hsla(0,0%,100%,.8);
    border: 4px solid #F8E9A1;
    border-radius: 10px;
    padding: 3px 10px;
    margin: 5px;
    font-family: "Roboto";
    font-size: 15px;
    text-align: center;
    color: #000;

}

button:hover{
  background: #e3e3e3;
}

h4{
    align-content: center;
    padding: 0px 95px 0px 95px;
    border: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

.hrmin{
  margin: 5px;
  padding: 5px;
/*  align-content: center;
*/  font-size: 25px;
  font-family: "Roboto";
  display: flex;
  flex-direction: row;
/*  box-sizing: border-box;*/
  justify-content: center;
  color: #F8E9A1;

}

.timeRemaining{
  align-content: center;
	/*top: 400px;
	left: 100px;*/
}
.timesUp{
  align-content: center;
	/*top: 400px;
	left: 100px;*/
}

.Timer{
  box-sizing: border-box;
  text-align:center;
  align-content: center;
  background: #24305E;
  width:100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #F8E9A1;
}

.Time{
  text-align: center;
  align-content: center;
  border: 10px solid white;
  border-radius: 18px;
  font-size:130px;
  color: black;
  letter-spacing: 3px;
}

#form-box {
  display: flex;
  justify-content:center;
  flex-direction: column;
/*  box-sizing: border-box;
*/
}


/*#timeinput-box {
  display: flex;
  flex-direction: row;
  align-content: center;

}*/

.newSession{

  align-content: center;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  line-height: 173px;

  padding: 10px 20px 10px 20px;

  color: #F2F39B;
}

.timeInput[type=text]{

   width: 150px;
  padding: 20px;
  border: none;
  border-radius: 5px;
  margin: 20px;
  font-size: 100px;
}

.submitButton{
  width: 100px;
  height: 50px;
  background: hsla(0,0%,100%,.8);
  border: 4px solid #F8E9A1;
  border-radius: 10px;
  padding: 3px 10px;
  margin: 5px;
  font-family: "Roboto";
  font-size: 15px;
  text-align: center;
  color: #000;
}
.submitButton:hover {
  background: #e3e3e3;
}

.loader-card {
  align-items: center;
}
/* Loader two: Wave */
.loader.two {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 110px;
}

.loader.two .dot {
	height: 30px;
	width: 30px;
	background: #000;
	border-radius: 15px;
	background: #47c7ff;
	/* TODO: PART 2 - Add wave animation */
	animation: wave 2s infinite;
}

@keyframes wave {
	0% {transform: translateY(0px);}
	25% {transform: translateY(0px);}
	50% {transform: translateY(-10px);}
	75% {transform: translateY(0px);}
	100% {transform: translateY(0px);}
}

/* TODO: PART 2 - Add delays and dot colors */
.loader.two .second.dot {
	background-color: #4DB1F7;
	animation-delay: 0.25s;
}

/* TODO: PART 2 - Create wave animation */
.loader.two .third.dot{
	animation-delay: 0.5s;
	background-color: ##14b8ff;
}
